\.slack-msgs\.com
\.slack-edge\.com
logmein\.com
\.logmein\.com
#slack.com
api\.metadefender\.com
\.metadefender\.com
\.adobe\.com
\.adobedtm\.com
\.adobetag\.com
\.typekit\.net
\.opswat\.com
\.8x8\.com
\.redhat\.com
opswat\.okta\.com
\.dropbox\.com
\.toggl\.com
\.apple\.com
\.icould\.com
zoom\.us
onesite\.realpage\.com
get\.skype\.com
go\.trouter\.io
twitter\.com
.\callagenix\.com
195\.56\.42\.178
198\.27\.132\.1
50\.234\.50\.1
50\.234\.50\.65
\.microsoft\.com
\.dl\.delivery\.mp\.microsoft\.com
\v4\.download\.windowsupdate\.com
\.windowsupdate\.com
\.visualstudio\.com
\.akamaihd\.net
\.akamai\.net
\.netsuite\.com
\.intercom\.io
\.billerweb\.com
\.razerzone\.com
d1gira0ohtrkhq\.cloudfront\.net
docserver\.cashlinc\.com
\.webex\.com
